.custom-button {
  border: 2px solid #ffb200; /* Border warna #ffb200 */
  color: #000000; /* Warna teks */
  background-color: transparent;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #ffb200; /* Ubah warna latar saat hover */
  color: white; /* Ubah warna teks saat hover */
}
