/* Animasi naik-turun */
.animation {
  animation: updown 3s ease-in-out infinite alternate-reverse both;
}

/* Warna khusus untuk teks */
.custom-color {
  color: #ffb200;
  font-weight: bold; /* Tambahkan bold agar lebih menonjol */
}

/* Animasi naik-turun */
@keyframes updown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}

.custom-button {
  border: 2px solid #ffb200 !important; /* Warna outline tetap */
  color: #000000 !important; /* Warna teks */
  background-color: transparent !important;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Efek hover */
.custom-button:hover {
  background-color: #ffb200 !important;
  color: white !important;
  transform: scale(1.05);
}
